.navbar {
    background-color: #DCDACC;
    
}


.stats {
    background-color: black;
    
}

.margin {
    padding-top: 12px;
    padding-bottom: 5px;
}

.img {
    
}

.h1{
    font-family: "Chernobyl";
    color:  white;
    font-size: 50px ;
     
  }

.nav-item {
    font-family: "Impact";
    font-size: 20px;
    font-style: italic;
    
}

.FT {
    background-color: darkgray;
    
}
.h3 {
    font-family: "Impact" ;
    font-size: 35px ;
    color: black;
    font-style: italic;
}